
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
  }

.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.containerLogin label {
    display: flex;
    margin-bottom: 10px;
    font-family: var(--font-roboto);
    font-size: 14px;
}

.inputContainer {
    margin-top: -40px;
    margin-bottom: 60px;
    z-index: 1;
}

.inputContainer input {
    width: 216px;
    height: 31px;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    outline: none;
    box-shadow:  0 3px 4px rgba(0,0,0, 0.5);
    z-index: 2;
}

.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    background-color: var(--third-color);
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.containerButton:hover {
    transform: translateY(2px); /* Mueve el botón ligeramente hacia abajo al pasar el mouse */
  }

  .notify {
    font-family: var(--font-roboto);
    text-align: center;
}


.containerPhotos {
    margin-top: -40px;
    position: relative; /* Asegúrate de que el contenedor tenga posición relativa */
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: 200px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden; /* Evitar que la imagen sobresalga del contenedor */
}

.containerPhotos img {
    filter: brightness(0) invert(1); /* Hacer la imagen blanca */
}

.containerPhotos::before {
    content: ''; /* Necesario para que funcione el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Fondo transparente */
    filter: drop-shadow(0px 4px 10px 2px rgba(0, 0, 0, 0.8)) ; /* Sombra negra con profundidad */
    pointer-events: none; /* Asegura que la sombra no interfiera con interacciones */
}
