@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F7D2D4; 
  --secondary-color: #D1F6EC; 
  --third-color: #F6C1B3;
  --third-color-transparent: #f6c2b39f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #F7D2D4; 
    --secondary-color: #D1F6EC; 
    --third-color: #F6C1B3;
  }
}


body {
  background-color: var(--primary-color); 
  color: #000000;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}